.hero-wrapper {
  /* width: 100%; */
  background-color: #0b1120;
  color: white;
  padding: 60px ; 
  margin: 0;
  max-width: 1600px;
}

.hero-box {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 0 40px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-content p {
  font-size: 1.1rem;
  color: #cbd5e1;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-btn {
  background-color: #00e6f6;
  padding: 12px 24px;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.hero-btn:hover {
  background-color: #00cdd6;
}
